<!-- Breadcrumbs -->
<section class="g-bg-gray-light-v5 g-py-50">
    <div class="container">
        <div class="d-sm-flex text-center">
            <div class="align-self-center">
                <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Contacto</h2>
            </div>

            <div class="align-self-center ml-auto">
                <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-5">
                        <a class="u-link-v5 g-color-main g-color-primary--hover" routerLink="/home">Inicio</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                        <span>Contacto</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->

<!-- Contact Form -->
<section class="container g-py-100">
    <div class="row g-mb-20">
        <div class="col-lg-12 g-mb-50">
            <!-- Heading -->
            <h2 class="h1 g-color-black g-font-weight-700 mb-4">¿Cómo podemos ayudarte?</h2>
            <p class="g-font-size-18 mb-0">Cuéntanos tus consultas, sugerencias y/o solicitudes sobre nuestros productos y servicios, te brindaremos una solución eficiente y agradable. Para comunicarte con nosotros te ofrecemos varios canales de
                atención.</p>
            <!-- End Heading -->
        </div>
    </div>

    <app-spinner-overlay-wrapper [showSpinner]="isLoadingData">
        <form (submit)="submit()" [formGroup]="formGroup" id="formGroup">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6 form-group g-mb-20">
                            <label class="g-color-gray-dark-v2 g-font-size-13">Nombres</label>
                            <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="text" placeholder="Tus nombres" formControlName="firstName">
                            <span class="text-danger" *ngIf="checkControlError(getControl('firstName'))">
                                <span *ngIf="getControl('firstName').errors?.['required']">{{ appSettingsService.RequiredErrorMessage }}</span>
                                <span *ngIf="getControl('firstName').errors?.['minlength']">{{ appSettingsService.MinLengthErrorMessage }} {{ namesMinLength }}.</span>
                                <span *ngIf="getControl('firstName').errors?.['maxlength']">{{ appSettingsService.MaxLengthErrorMessage }} {{ namesMaxLength }}.</span>
                            </span>
                        </div>
    
                        <div class="col-md-6 form-group g-mb-20">
                            <label class="g-color-gray-dark-v2 g-font-size-13">Apellidos</label>
                            <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="text" placeholder="Tus apellidos" formControlName="lastName">
                            <span class="text-danger" *ngIf="checkControlError(getControl('lastName'))">
                                <span *ngIf="getControl('lastName').errors?.['required']">{{ appSettingsService.RequiredErrorMessage }}</span>
                                <span *ngIf="getControl('lastName').errors?.['minlength']">{{ appSettingsService.MinLengthErrorMessage }} {{ namesMinLength }}.</span>
                                <span *ngIf="getControl('lastName').errors?.['maxlength']">{{ appSettingsService.MaxLengthErrorMessage }} {{ namesMaxLength }}.</span>
                            </span>
                        </div>
                    </div>
    
                    <div class="g-mb-20">
                        <label class="g-color-gray-dark-v2 g-font-size-13">Tu correo</label>
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="email" placeholder="Tu correo" formControlName="email">
                        <span class="text-danger" *ngIf="checkControlError(getControl('email'))">
                            <span *ngIf="getControl('email').errors?.['required']">{{ appSettingsService.RequiredErrorMessage }}</span>
                            <span *ngIf="getControl('email').errors?.['email']">{{ appSettingsService.RequiredValidEmailErrorMessage }}</span>
                            <span *ngIf="getControl('email').errors?.['maxlength']">{{ appSettingsService.MaxLengthErrorMessage }} {{ emailMaxLength }}.</span>
                        </span>
                    </div>
    
                    <div class="g-mb-40">
                        <label class="g-color-gray-dark-v2 g-font-size-13">Tu teléfono</label>
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="tel" placeholder="Tu teléfono" formControlName="phone">
                        <span class="text-danger" *ngIf="checkControlError(getControl('phone'))">
                            <span *ngIf="getControl('phone').errors?.['required']">{{ appSettingsService.RequiredErrorMessage }}</span>
                            <span *ngIf="getControl('phone').errors?.['maxlength']">{{ appSettingsService.MaxLengthErrorMessage }} {{ phoneMaxLength }}.</span>
                        </span>
                    </div>
    
                    <div class="media">
                        <h3 class="d-flex g-color-black g-font-weight-600 g-font-size-default mr-4">Horario de oficina:</h3>
                        <div class="media-body">
                            <p class="g-color-gray-dark-v4 g-font-size-12 mb-1">Lunes - Viernes: 08:30 AM - 06:00 PM</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="g-mb-40">
                        <label class="g-color-gray-dark-v2 g-font-size-13">Tu mensaje</label>
                        <textarea class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" rows="10" placeholder="Hola, me gustaría ..." formControlName="message"></textarea>
                        <span class="text-danger" *ngIf="checkControlError(getControl('message'))">
                            <span *ngIf="getControl('message').errors?.['required']">{{ appSettingsService.RequiredErrorMessage }}</span>
                            <span *ngIf="getControl('message').errors?.['minlength']">{{ appSettingsService.MinLengthErrorMessage }} {{ messageMinLength }}.</span>
                            <span *ngIf="getControl('message').errors?.['maxlength']">{{ appSettingsService.MaxLengthErrorMessage }} {{ messageMaxLength }}.</span>
                        </span>
                    </div>
    
                    <div class="text-right">
                        <button type="submit" class="btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase rounded-3 g-py-12 g-px-35" role="button" [disabled]="formGroup.invalid" form="formGroup">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </app-spinner-overlay-wrapper>
    
</section>
<!-- End Contact Form -->

<!-- Icon Blocks -->
<section class="clearfix g-brd-top g-brd-gray-light-v4">
    <!-- Icons Block -->
    <div class="row no-gutters g-py-20">
        <div class="col-md-6 col-lg-3 g-brd-right--md g-brd-gray-light-v4">
            <!-- Icon Blocks -->
            <div class="text-center g-py-20">
                <span class="u-icon-v1 u-icon-size--xl g-color-black g-mb-10">
                    <i class="icon-real-estate-027 u-line-icon-pro"></i>
                </span>
                <h4 class="h5 g-font-weight-600 g-mb-5">Dirección</h4>
                <span class="d-block">Carretera Central Km 19.5,<br> Ñaña, Chaclacayo 08 Lima, Perú</span>
            </div>
            <!-- End Icon Blocks -->
        </div>

        <div class="col-md-6 col-lg-3 g-brd-right--md g-brd-gray-light-v4">
            <!-- Icon Blocks -->
            <div class="text-center g-py-20">
                <span class="u-icon-v1 u-icon-size--xl g-color-black g-mb-10">
                    <i class="icon-electronics-005 u-line-icon-pro"></i>
                </span>
                <h4 class="h5 g-font-weight-600 g-mb-5">Teléfono</h4>
                <span class="d-block">RRHH: <a class="u-link-v5 g-color-main g-color-primary--hover" href="tel:+51998111273" target="_blank">+51 (998) 111 273</a></span>
                <span class="d-block">Ventas: <a class="u-link-v5 g-color-main g-color-primary--hover" href="tel:+51998119946" target="_blank">+51 (998) 119 946</a></span>
            </div>
            <!-- End Icon Blocks -->
        </div>

        <div class="col-md-6 col-lg-3 g-brd-right--md g-brd-gray-light-v4">
            <!-- Icon Blocks -->
            <div class="text-center g-py-20">
                <span class="u-icon-v1 u-icon-size--xl g-color-black g-mb-10">
                    <i class="icon-communication-062 u-line-icon-pro"></i>
                </span>
                <h4 class="h5 g-font-weight-600 g-mb-5">Correos</h4>
                <a class="d-block u-link-v5 g-color-main g-color-primary--hover" href="mailto:rrhh@grafipapel.com.pe">rrhh@grafipapel.com.pe</a>
                <a class="d-block u-link-v5 g-color-main g-color-primary--hover" href="mailto:cotizaciones@grafipapel.com.pe">cotizaciones@grafipapel.com.pe</a>
            </div>
            <!-- End Icon Blocks -->
        </div>

        <div class="col-md-6 col-lg-3">
            <!-- Icon Blocks -->
            <div class="text-center g-py-20">
                <span class="u-icon-v1 u-icon-size--xl g-color-black g-mb-10">
                    <i class="icon-hotel-restaurant-002 u-line-icon-pro"></i>
                </span>
                <h4 class="h5 g-font-weight-600 g-mb-5">Cotizaciones</h4>
                <span class="d-block">Whatsapp: <a class="u-link-v5 g-color-main g-color-primary--hover" href="https://wa.me/51998119946" target="_blank">+51 (998) 119 946</a></span>
            </div>
            <!-- End Icon Blocks -->
        </div>
    </div>
    <!-- End Icons Block -->
</section>
<!-- End Icon Blocks -->

<!-- Google Map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.78786095252!2d-76.82433348407217!3d-11.989175791505751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105e9d4590f98c5%3A0x7fdc763214ee59c2!2sGrafipapel%20S.A.!5e0!3m2!1sen!2spe!4v1619647927698!5m2!1sen!2spe" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!-- End Google Map -->