<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
    <!-- Parallax Image -->
    <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(/assets/img/products/BANNER_OFFSET_0.png);"></div>
    <!-- End Parallax Image -->

    <!-- Promo Block Content -->
    <div class="container g-color-white text-center g-py-150">
        <h2 class="h3 text-uppercase mb-2">Nuestros servicios</h2>
        <p class="g-font-weight-600 g-font-size-40 text-uppercase">Impresión OFFSET</p>
    </div>
    <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="container g-pt-100">
    <div class="row justify-content-center g-mb-70">
        <div class="col-lg-8">
            <!-- Heading -->
            <div class="text-center">
                <h2 class="h3 g-color-black text-uppercase mb-2">La imaginación llevada al diseño y hecha impresión</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                <p class="lead mb-2">Tenemos la mejor propuesta a sus necesidades en tus productos impresos.</p>
            </div>
            <!-- End Heading -->
        </div>
    </div>

    <img class="img-fluid w-100" src="/assets/img/products/OFFSET_PRODUCTS_1.png" alt="Image Description">
</section>

<!-- Icon Blocks -->
<section class="g-bg-secondary">
    <div class="container g-py-100">
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-10">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">Nuestros servicios</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    <p class="lead mb-0">La impresión de documentos profesionales como folletos, boletines, presentaciones comerciales y materiales de punto de venta, es fundamental para dirigirse a los clientes de una forma convincente y hacerles
                        llegar el mensaje. Los documentos en color dan un aspecto profesional, atractivo y contribuyen a transmitir la impresión de una buena reputación y profesionalidad de la empresa realzando su imagen.</p>
                </div>
                <!-- End Heading -->
            </div>
        </div>

        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-education-141 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/TARJETA_VISITA_ICON.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Tarjeta de visita</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">Diferenciarse desde el primer momento es importante para muchas empresas y profesionales.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-finance-256 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/PAPEL_MEMBRETADO_ICON.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Papel membretado</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">El papel membretado es uno de los elementos imprescindibles en la papelería corporativa de cualquier entidad.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->

        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-finance-256 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/COMPROBANTE_PAGO_ICON.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Comprobantes de pago</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">Es el documento que acredita la transferencia de bienes, la entrega en uso o la prestación de servicios.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-education-141 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/FOLDER_ICON.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Folders</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">Mantén la información ordenada en la oficina y genera confianza, al percibir el público un proyecto serio y unificado.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->

        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-finance-256 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/FLYER_ICON.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Flyers</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">Si deseas dar a conocer información sobre una empresa, sus ofertas o la inauguración de un evento próximo, el diseño de flyers es justo lo que necesitas.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-finance-256 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/SOBRE_ICON.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Sobres</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">Todas las comunicaciones de tu empresa deben apoyarse en una papelería corporativa profesional que ayude a crear una marca fuerte.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->

        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-education-141 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/AFICHE_ICON.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Afiches</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">la función de un cartel profesional es captar la atención de quienes lo vean y transmitir, de manera clara, el mensaje para el que ha sido creado.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-finance-256 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/FAJILLO_BILLETE.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Fajas para billetes</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">Las fajas para billetes están hechas de papel de alta calidad para asegurar un manejo fácil y seguro, siempre cumpliendo con las normativas de los Bancos Centrales Emisores.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->

        <!-- Icon Blocks -->
        <div class="row justify-content-center">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!-- <i class="icon-finance-256 u-line-icon-pro"></i> -->
                                <img class="d-flex g-width-40 g-height-40" src="/assets/img/icons/FOLLETO_ICON.png" alt="Image Description">
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Folletos</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">los folletos corporativos son un medio muy eficaz de presentar la información de tu negocio o empresa, además de ser un formato perfecto para su distribución en buzoneo o mediante envío postal.</p>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->
    </div>
</section>
<!-- End Icon Blocks -->

<!-- Section -->
<section class="container g-pt-100 g-pb-40">
    <div class="row">
        <div class="col-lg-6 align-self-center g-mb-60">
            <div class="mb-2">
                <h2 class="h3 g-color-black text-uppercase mb-2">OFFSET</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
            </div>
            <div class="mb-5">
                <p class="mb-5">Para nuestra empresa y sus colaboradores la impresión es un arte que nos permite brindar calidad y satisfacer las necesidades de nuestros clientes, superando sus expectativas.</p>
            </div>
        </div>

        <div class="col-lg-6 align-self-center g-mb-60">
            <img class="img-fluid" src="/assets/img/products/OFFSET_MACHINE.png" alt="Image Description">
        </div>
    </div>
</section>
<!-- End Section -->

<!-- Clients -->
<div class="g-bg-gray-light-v5">
    <app-customer-slider></app-customer-slider>
</div>
<!-- End Clients -->