<!-- Clients -->
<div class="container g-py-70">
    <div class="js-carousel" data-infinite="true" data-autoplay="true" data-slides-show="6" data-lazy-load="ondemand" data-responsive='[{
        "breakpoint": 768,
        "settings": {
          "slidesToShow": 1
        }
      }]'>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-dinners.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-bcp.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-equifax.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-falabella.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-g4s.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-giova.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-inkafarma.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-interbank.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-lapositiva.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-mapfre.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-pacifico.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-primaafp.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-profuturo.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-raiz.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-rimac.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-scotiabank.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-suizalab.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-sunat.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-tailoy.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover" data-lazy="/assets/img/customers/customer-telefonica.png" alt="Image description">
        </div>
    </div>
</div>
<!-- End Clients -->