<main>

  <app-menu></app-menu>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

  <a class="js-go-to u-go-to-v1" [routerLink]="" data-type="fixed" data-position='{ "bottom": 15, "right": 15 }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>
  <a class="whatsapp" href="https://wa.me/51998119946" target="_blank" data-toggle="tooltip" data-placement="right" title="Contacta con un vendedor">
    <i class="fa fa-whatsapp"></i>
  </a>
</main>

<div class="u-outer-spaces-helper"></div>