.whatsapp {
    position: fixed;
    width: 3.57143rem;
    height: 3.57143rem;
    bottom: 15px;
    left: 15px;
    top: inherit;
    background-color: #25d366;
    box-shadow: 0 1px 6px rgb(0 0 0 / 6%), 0 2px 32px rgb(0 0 0 / 16%);
    transition: .3s ease-out;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    cursor: pointer;
}