<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
    <!-- Parallax Image -->
    <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(/assets/img/products/BANNER_FLEXOGRAFIA_0.png);"></div>
    <!-- End Parallax Image -->

    <!-- Promo Block Content -->
    <div class="container g-color-white text-center g-py-150">
        <h2 class="h3 text-uppercase mb-2">Nuestros servicios</h2>
        <p class="g-font-weight-600 g-font-size-40 text-uppercase">FLEXOGRAFIA en banda angosta</p>
    </div>
    <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<!-- Section -->
<section class="container g-pt-100 g-pb-40">
    <div class="row">
        <div class="col-lg-6 align-self-center g-mb-60">
            <div class="mb-2">
                <h2 class="h3 g-color-black text-uppercase mb-2">FLEXOGRAFÍA</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
            </div>
            <div class="mb-5">
                <p class="mb-5">Estamos comprometidos con el éxito de nuestros clientes, ofreciendo un nuevo servicio gráfico bajo el sistema de Flexografía, apoyados en un equipo humano proactivo, orientado a la calidad y la mejora continua con
                    tecnología de última generación, contribuyendo al cuidado del medio ambiente.</p>
                <p class="mb-5">Especializados en la fabricación de todo tipo de etiquetas, desde etiquetas blancas para trazabilidad hasta etiquetas de alto valor con diferentes acabados en diversos sustratos de acuerdo a su necesidad.</p>
                <p class="mb-5">Otorga personalidad a tú producto dandole elegancia sobriedad, brillo, frescura, notoriedad y alegría.</p>
            </div>
        </div>

        <div class="col-lg-6 align-self-center g-mb-60">
            <img class="img-fluid" src="/assets/img/products/FLEXO_PRODUCTS_0.png" alt="Image Description">
        </div>
    </div>
</section>
<!-- End Section -->

<!-- Icon Blocks -->
<section class="g-bg-secondary">
    <div class="container g-pt-110 g-pb-40">
        <div class="row">
            <div class="col-lg-4 g-mb-60">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white text-center g-rounded-5 g-px-30 g-pb-30">
                    <span class="u-icon-v3 g-bg-primary g-color-white g-pull-50x-up g-rounded-5 g-mb-5">
                        <!-- <i class="icon-education-087 u-line-icon-pro"></i> -->
                        <img class="d-flex g-width-40 g-height-40 mx-auto mt-2" src="/assets/img/icons/ETIQUETA_ICON.png" alt="Image Description">
                    </span>
                    <h3 class="h5 g-color-black g-mb-10">Etiquetas</h3>
                    <p class="g-color-gray-dark-v4 g-mb-20">Otorga personalidad a tú producto dandole elegancia sobriedad, brillo, frescura, notoriedad y alegría.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-mb-60">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white text-center g-rounded-5 g-px-30 g-pb-30">
                    <span class="u-icon-v3 g-bg-primary g-color-white g-pull-50x-up g-rounded-5 g-mb-5">
                        <!-- <i class="icon-finance-009 u-line-icon-pro"></i> -->
                        <img class="d-flex g-width-40 g-height-40 mx-auto mt-2" src="/assets/img/icons/TICKET_ICON.png" alt="Image Description">
                    </span>
                    <h3 class="h5 g-color-black g-mb-10">Tickets</h3>
                    <p class="g-color-gray-dark-v4 g-mb-20">Si estás pensando en organizar un evento, la impresión de talonarios de entradas, va a ser un requisito fundamental para asegurar el éxito de tus ideas.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-mb-60">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white text-center g-rounded-5 g-px-30 g-pb-30">
                    <span class="u-icon-v3 g-bg-primary g-color-white g-pull-50x-up g-rounded-5 g-mb-5">
                        <!-- <i class="icon-finance-256 u-line-icon-pro"></i> -->
                        <img class="d-flex g-width-40 g-height-40 mx-auto mt-2" src="/assets/img/icons/STICKER_ICON.png" alt="Image Description">
                    </span>
                    <h3 class="h5 g-color-black g-mb-10">Stickers</h3>
                    <p class="g-color-gray-dark-v4 g-mb-20">Cualquier silueta y cualquier tamaño. engancha a tu audiencia de una forma diferente.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
</section>
<!-- End Icon Blocks -->

<!-- Section -->
<section class="container g-pt-100 g-pb-40">
    <div class="row">
        <div class="col-lg-6 align-self-center g-mb-60">
            <img class="img-fluid" src="/assets/img/products/FLEXO_MAQUINA_0.png" alt="Image Description">
        </div>

        <div class="col-lg-6 align-self-center g-mb-60">
            <div class="mb-2">
                <h2 class="h3 g-color-black text-uppercase mb-2">INNOVANDO</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
            </div>
            <div class="mb-5">
                <p class="mb-5">Aplicaciones de manera total o selectiva para efectos decorativos:</p>

                <ul class="list-unstyled g-font-size-13 mb-0">
                    <li>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                        Barniz UV, brillo o mate sectorizado: Aplicación de manera total o selectiva para efectos decorativos.
                    </li>
                    <li>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                        Foil Stamping: Acabados metálicos de alto impacto en Línea.
                    </li>
                    <li>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                        Delam/Relam: Impresiones por la cara y la parte autoadhesiva del material.
                    </li>
                    <li>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                        Laminado: Laminas con brillo convencional, holográfico y tornasolado. (Realzan la impresión con un brillo especial).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->

<!-- Cubeportfolio -->
<section class="g-bg-secondary">
    <div class="container g-py-100 ">
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 text-uppercase mb-3">Somos una nueva solución para tus procesos de PACKING</h2>
                    <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
                    <p class="lead mb-0">Más que una etiqueta… una buena imagen para su empresa.</p>
                </div>
                <!-- End Heading -->
            </div>
        </div>
    
        <!-- Cubeportfolio Filter -->
        <ul id="filterControls" class="text-center u-filter-v1 g-mb-40">
            <li class="list-inline-item cbp-filter-item cbp-filter-item-active g-cursor-pointer g-transition-0_2" data-filter="*">TODOS</li>
            <li class="list-inline-item cbp-filter-item text-uppercase g-cursor-pointer g-transition-0_2" data-filter=".js-packing">Packing</li>
            <li class="list-inline-item cbp-filter-item text-uppercase g-cursor-pointer g-transition-0_2" data-filter=".js-etiqueta">Etiqueta</li>
            <li class="list-inline-item cbp-filter-item text-uppercase g-cursor-pointer g-transition-0_2" data-filter=".js-delam">Delam / Relam</li>
        </ul>
        <!-- End Cubeportfolio Filter -->
    
        <!-- Cubeportfolio container -->
        <div class="cbp" data-controls="#filterControls">
            <div class="cbp-item js-packing">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_PACKING.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-1.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">DESARROLLOS DE PACKING</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
    
            <div class="cbp-item js-etiqueta">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_ETIQUETA_SEGURIDAD.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-2.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">ETIQUETAS DE SEGURIDAD</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
    
            <div class="cbp-item js-etiqueta">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_ETIQUETA_LIMPIEZA.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-3.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">ETIQUETAS PARA EL RUBRO DE LIMPIEZA</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
    
            <div class="cbp-item js-etiqueta">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_ETIQUETA_INDUSTRIA.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-4.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">ETIQUETAS PARA EL RUBRO INDUSTRIAL</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
    
            <div class="cbp-item js-etiqueta">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_ETIQUETA_HIGIENE.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-5.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">ETIQUETAS PARA EL RUBRO COSMÉTICO & HIGIENE</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
    
            <div class="cbp-item js-etiqueta">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_ETIQUETA_FARMACIA.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-6.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">ETIQUETAS PARA EL RUBRO DE FARMACIA</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>

            <div class="cbp-item js-etiqueta js-delam">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_ETIQUETA_DELAM_RELAM.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-4.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">ETIQUETAS CON DELAM / RELAM</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
    
            <div class="cbp-item js-etiqueta">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_ETIQUETA_BEBIDA.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-5.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">ETIQUETAS PARA EL RUBRO DE LICORES & BEBIDAS</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
    
            <div class="cbp-item js-etiqueta">
                <!-- Figure -->
                <figure class="u-info-v1-4 g-overflow-hidden mb-0">
                    <!-- Figure Image -->
                    <img class="w-100 u-info-v1-4__item-regular g-transition-0_2" src="/assets/img/products/FLEXO_ETIQUETA_ALIMENTO.png" alt="Image Description">
                    <!-- End Figure Image-->
    
                    <!-- <a class="cbp-caption cbp-singlePageInline u-link-v2" href="../ajax/projects/projects-6.html"></a> -->
    
                    <!-- Figure Caption -->
                    <figcaption class="u-info-v1-4__item-hidden g-transition-0_2 g-bg-black g-color-white g-px-30 g-py-10">
                        <!-- <h4 class="h6 g-font-weight-500 mb-0">Grafipapel S.A.</h4> -->
                        <em class="d-block g-color-white-opacity-0_8 g-font-style-normal g-font-size-13">ETIQUETAS PARA EL RUBRO DE ALIMENTOS</em>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
        </div>
        <!-- End Cubeportfolio container -->
    </div>
</section>

<!-- End Cubeportfolio -->

<!-- Clients -->
<app-customer-slider></app-customer-slider>
<!-- End Clients -->