<!-- Breadcrumbs -->
<section class="g-bg-gray-light-v5 g-py-50">
    <div class="container">
        <div class="d-sm-flex text-center">
            <div class="align-self-center">
                <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Blog</h2>
            </div>

            <div class="align-self-center ml-auto">
                <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-5">
                        <a class="u-link-v5 g-color-main g-color-primary--hover" routerLink="/home">Inicio</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                        <span>Blog</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->

<!-- Blog Minimal Blocks -->
<div class="container g-py-100">
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <!-- Blog Minimal Blocks -->
            <article class="g-mb-100">
                <div class="g-mb-30">
                    <div class="media g-mb-25">
                        <img class="d-flex g-width-40 g-height-40 rounded-circle mr-2"
                            src="/assets/img/articles/logo_ofimarket_40x40.jpg" alt="Image Description">
                        <div class="media-body">
                            <h4 class="h6 g-color-primary mb-0"><a href="https://www.ofimarket.pe/" target="_blank">Ofimarket Perú.</a></h4>
                            <span class="d-block g-color-gray-dark-v4 g-font-size-12">Ago 14 2023 - 7 min read</span>
                        </div>
                    </div>

                    <img class="img-fluid w-100 g-mb-25" src="/assets/img/articles/SOBRES-MANILA-GP.png" alt="Image Description">

                    <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" [routerLink]="['detail', 'sobre-manila-versatilidad-elegante-en-la-correspondencia-y-organizacion']">Sobres Manila: La
                            Versatilidad Elegante en la Correspondencia y Organización</a>
                    </h2>
                    <p class="g-color-gray-dark-v4 g-line-height-1_8">... los sobres manila son una combinación de
                        protección y formalidad. Su durabilidad y versatilidad los convierten en una elección
                        inteligente para enviar documentos importantes o mantener la organización en papel en una
                        variedad de contextos ...</p>
                    <!-- <a class="g-font-size-13" href="#">Read more...</a> -->
                    <a class="g-font-size-13" [routerLink]="['detail', 'sobre-manila-versatilidad-elegante-en-la-correspondencia-y-organizacion']">Leer más</a>
                </div>

                <!-- <ul
                    class="d-flex justify-content-end list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
                    <li class="list-inline-item mr-auto">
                        <i
                            class="align-middle g-color-primary g-font-size-default mr-1 icon-medical-022 u-line-icon-pro"></i>
                        <a class="g-color-gray-dark-v4 g-color-primary--hover g-transition-0_3 g-text-underline--none--hover"
                            href="#">5k</a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <i
                            class="align-middle g-color-primary g-font-size-default mr-1 icon-finance-206 u-line-icon-pro"></i>
                        <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#">10
                            Comments</a>
                    </li>
                    <li class="list-inline-item">
                        <i class="align-middle g-color-primary g-font-size-default mr-1 fa fa-bookmark-o"></i>
                        <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover"
                            href="#">Bookmark</a>
                    </li>
                </ul> -->
            </article>
            <!-- End Blog Minimal Blocks -->
            

        </div>
        <div class="col-lg-6">

        </div>

    </div>
</div>
<!-- End Blog Minimal Blocks -->